
{% extends 'blog/base.html' %} <!-- To znaczy, że rozszerzamy szablon base.html w plikiem post_list.html -->
{% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                <p>published: {{ post.published_date}} </p>
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>  <!--  To generuje adres strony z szablonu django. blog.views.post_detail to ścieżka do widoku post_detail. -->
                <p>{{ post.text|linebreaksbr }}</p>   <!--  |linebreaksbr  zamienia znaczniki nowej linii na akapity. tu więcej https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#safe -->
            </div>
        {% endfor %}
{% endblock content %}
