<!-- foldery templates i blog zostały najpierw dodane -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django blog lud8919</title>
</head>
<body>
        <div>
            <h1><a href="">Django  Blog</a></h1>
        </div>


        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>   <!--  |linebreaksbr  zamienia znaczniki nowej linii na akapity -->
            </div>
        {% endfor %}


</body>
</html>
