{% extends 'blog/base.html' %}           <!-- To znaczy, że rozszerzamy szablon base.html w plikiem post_detail.html -->

{% block content %}
    <div class="post">
        {% if post.published_date %} <!-- ten if sprawdza, czy data publikacji wpisu (published_date) nie jest pusta. -->
            <div class="date"> <span>published: </span>
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

